# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user

# Build output directories
x64/
out/
Debug/
Release/

# Object files
*.obj

# Others
*.pdb
*.idb
*.exe
*.dll
*.ilk
*.log
*.zip
