# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.ncb
*.sdf
*.opensdf
*.opendb
*.idb
*.pdb

# Build output directories
x64/
out/
Debug/
Release/

# Object files
*.obj

# Executables and libraries
*.exe
*.dll
*.ilk

# Logs and zip files
*.log
*.zip
